html, body, {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #FEFEFE;
  }
  h3{
    font-size:44px;
  }
  h4{
    font-size: 24px;
  }
  p{
    font-size: 1em;
  }